@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

:root {
  --first-color: #1a5319;
  --second-color: #508d4e;
  --third-color: #80af81;
  --fourth-color: #d6efd8;
}
