.home-admin-main-container {
  display: flex;
  gap: 2rem;
}

.home-admin-navigation-section {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  min-width: 40rem;
  gap: 3rem;
  padding: 4rem;
}

.home-admin-navigation-section button {
  width: 100%;
  font-size: 2rem;
  text-transform: capitalize;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--second-color);
  color: var(--fourth-color);
  border: none;
  cursor: pointer;
}

.welcome-admin-section {
  width: 100%;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-admin-section h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  color: var(--first-color);
  text-transform: capitalize;
}

.welcome-admin-section h2 {
  font-size: 2rem;
  letter-spacing: 2px;
  text-transform: capitalize;
  padding: 1rem;
}

.authentication-container {
  width: 100%;
  gap: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.student-main-container-auth {
  width: 40%;
}

.student-container-auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--fourth-color);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: -8px 10px 12px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -8px 10px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 10px 12px 0px rgba(0, 0, 0, 0.75);
}

.student-container-auth h3 {
  font-size: 2rem;
  text-transform: capitalize;
}

.student-container-auth h4 {
  font-size: 1.5rem;
  padding: 1rem 0;
  text-transform: capitalize;
}

.student-container-auth p {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.student-buttons-auth {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.student-buttons-auth button {
  color: var(--fourth-color);
  width: 10rem;
  padding: 5px;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: -8px 10px 12px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -8px 10px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 10px 12px 0px rgba(0, 0, 0, 0.75);
}

.verify {
  background-color: var(--first-color);
}
.decline {
  background-color: red;
}
