.questions-main-container h2 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: capitalize;
  align-items: center;
  text-align: center;
  padding: 4rem;
  color: var(--first-color);
}

.question-item {
  background-color: var(--third-color);
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 1.5rem;
  box-shadow: -8px 10px 12px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -8px 10px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 10px 12px 0px rgba(0, 0, 0, 0.75);
}

.question-text {
  font-size: 3rem;
  text-align: center;
  padding: 2rem;
}

.questions-options button {
  border: none;
  width: 18rem;
  font-size: 1.8rem;
  text-transform: capitalize;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
}

.questions-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.option-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}

.option-label {
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  font-weight: bold;
}

.questions-options button {
  margin: 5px;
  padding: 2px;
  background-color: white;
  cursor: pointer;
}

.questions-options button.selected {
  background-color: var(--fourth-color);
  border-color: var(--first-color);
  color: var(--first-color);
}

.questions-options button:hover {
  background-color: var(--fourth-color);
}

.button-next-previous {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-next-previous {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  margin-top: 3rem;
}

.button-next-previous button {
  padding: 0.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: capitalize;
  background-color: var(--first-color);
  color: var(--fourth-color);
  border-radius: 5px;
  width: 10rem;
  cursor: pointer;
  border: none;
}
